.header__grey-text {
	color: #B6BCBF;
}
.header__grey-text a{
	color: #B6BCBF;
}

.header__grey-text:hover{
	color:#FFFFFF;
}
.header__grey-text:hover a{
	color:#FFFFFF;
}

@media (max-width: 768px) {
	.grey-text {
	color: #FFFFFF;
}

}