@import url('_text-default/search__form_text-default.css');
.search__form {
	display: flex;
	position: relative;
	margin: 0 auto;
	margin-top: 64px;
	width: 42.2%;
	background: white;
	border-radius: 30px;
	height: 11.11%;
}