.login-form__button-success {
	
	width: 358px;
	margin: 0 auto;
	margin-top: 32px;	
	
	cursor: url('../../../../images/lapka.png'), pointer;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	height: 64px;
}


@media (max-width:768px) {
	.login-form__button {
		
		width: 90%;
		margin: 0 auto;
		margin-top: 23px;	
		margin-left: 5%;
	
		cursor: url('../../../../images/lapka.png'), pointer;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
		
	}

}