@import url('about-author__title.css');
@import url('about-author__text.css');
.about-author__right-side {
	display: flex;
	position: relative;
	margin-left: 56px;
	flex-direction: column;
	margin-bottom: : 24px;
	width: 41.66%;
}