.header__title {
	position: absolute;
	color: white;
	z-index: 1;
	margin: auto;
	left: 104px;
top:30px;
	font-size: 20px;
	line-height: 24px;
}
.header__page_underline {
	display: flex;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 4px;
	background: white;
}
.header__page_title {
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
margin: auto;
	margin-left:0px;
margin-right:0px;
	}
.grey-text {
	color: #B6BCBF;
}
.header__page {
	display: flex;
	flex-direction: column;
	position: relative;
	margin:0 auto;

}
.white-text {
	color: #FFFFFF;
}
.non-authorization__margin{
	margin: auto;
	margin-right: 0px;
	margin-left: 0px;
	border: 1px solid;
	box-sizing: border-box;
	border-radius: 30px;
	padding:15px;
width: 176px;
}
.header__non-authorization {
	display: none;
	flex-direction: row;
	margin: 0 auto;
	margin-right: 140px;
	position: relative;
	color: white;
}
.black-header {
	color: #1A1B22;
margin-left:607px;
}
.border-grey {
	border-bottom: 1px solid #D1D2D6;
	color: #1A1B22;
}

.border-white {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
color: #FFFFFF;
}
.black-title {
	color: #1A1B22;
}
.black-page {
	margin-left: 34px;
}
.black-line {
	background: #1A1B22;
}
.white-text {
	color: #FFFFFF;
}
.header__authorization-name-block {
display: flex;
position: relative;
margin:auto;
margin-left:0px;
border: 1px solid ;
box-sizing: border-box;
border-radius: 30px;
padding:15px;
width: auto;

}
.header__authorization-name{
position: relative;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
margin: auto;

text-align: center;
}
.header-page__margin{
	margin-right: 32px;
	margin-left: 0px;
}
.header-page-main__margin{
	margin-right: 34px;
	margin-left: 0px;
}
.header__authorization {
	display: flex;position: relative;
	margin:0 auto;
	margin-right: 104px;
}
.header {
	width:100%;
	display: flex;
	position: absolute;
	top: 0px;
	height: 80px;
	flex-direction: row;
	z-index: 1;
}
.search__title {
	display: flex;
	position: relative;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	line-height: 64px;
	color: #FFFFFF;
	margin: 0 auto;
	margin-top: 160px;
	width: 42.22%;
}
.search__subtitle {
	display: flex;
	position: relative;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
	width: 37.85%;
	margin-top: 32px;
	margin-left: 416px;
}
.search__form_text-default{
	display: flex;
	position: relative;
	margin-left: 24px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #B6BCBF;
	width: 61.84%;
	border:none;
	}


.search__form {
	display: flex;
	position: relative;
	margin: 0 auto;
	margin-top: 64px;
	width: 42.2%;
	background: white;
	border-radius: 30px;
	height: 11.11%;
}
.search__button {
	display: flex;
	position: absolute;
	right: 0px;
	background: #2F71E5;
	box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
	border-radius: 30px;
	width: 27.63%;
	height: 100%;
}
.search__button-text {
	margin:0 auto;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
}
.search {
	display: flex;
	width: 100%;
	height:576px;
	position: relative;
	flex-direction: column;
	background-image: url(./images/georgia-de-lotz--UsJoNxLaNo-unsplash.png);
}
.about-author__left-side {
	display: flex;
	position: relative;
	margin-left: 104px;
}
.about-author__title{
	display: flex;
	position: relative;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 46px;
	color: #1A1B22;
	width: 66.66%;
}
.about-author__text {
	display: flex;
	position: relative;
	margin: 0 auto;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #1A1B22;
	width: 100%;
}
.about-author__right-side {
	display: flex;
	position: relative;
	margin-left: 56px;
	flex-direction: column;
	margin-bottom: 24px;
	width: 41.66%;
}
.about-author {
display: flex;
position: relative;
width: 100%;
padding-top: 80px;
}
.saving-description__title {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 46px;
	color: #1A1B22;
	margin-top: 28px;
	margin-left: 104px;
	width: 36.80%;
}
.saving-description__subtitle{
	display: flex;
	position: relative;
	margin-left: 104px;
	margin-top: 30px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #1A1B22;
}
.saving-description__navigation{
display: flex;
position: relative;
margin-left: 104px;
margin-top: 120px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
color: rgba(26, 27, 34, 0.5);
width: 49.44%;
}

.saving-description{

}
.background-06{
	background-image: url(./images/image_06.png);
}
.background-01{
	background-image: url(./images/image_01.png);
}
.background-05{
	background-image: url(./images/image_05.png);
}
.background-07{
	background-image: url(./images/image_07.png);
}
.background-06{
	background-image: url(./images/image_06.png);
}
.background-04{
	background-image: url(./images/image_04.png);
}
.background-08{
	background-image: url(./images/image_08.png);
}
.card__top-block {
	display: flex;position: relative;
	flex-direction:row-reverse;
	
	background-size: contain;
	grid-column: 1/5;
	grid-row:1/2;
	border-radius: 16px;
}
.card__bottom-block {
	grid-column: 1/5;
	grid-row: 2/11;
	background: #FFFFFF;
	border-radius: 16px;
}
.card__key-text {
	margin-top: 8px;
	margin-left: 12px;
	margin-right: 12px;
}
.left-key-block {
display: flex;
position: absolute;
left: 24px;
}
.right-key-block {
margin-right: 24px;
display: flex;position: relative;flex-direction: column;
width: 40px;
}
.middle-key-block {
margin-right: 5px;
}
.card-block-image{
	margin:0 auto;
	height: 24px;
	
}
.key-text-hidden {
	display: none;
}
.card__key-block {
	background: #FFFFFF;
	border-radius: 10px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
		margin-top: 24px;
		height: 40px;
	justify-content: center;
}
.card-date {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	display: flex;
	align-items: center;
	color: #B6BCBF;
	margin: 0;
	grid-column: 2/3;
	grid-row: 3/4;
}
.card-title {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 30px;
	color: #1A1B22;
		margin: 0;
	grid-column: 2/4;
	grid-row: 5/6;
}
.card-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #1A1B22;
		margin: 0;
	grid-column: 2/4;
	grid-row: 7/8;
}
.card-source {
font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.4px;
text-transform: uppercase;
color: #B6BCBF;	
	margin: 0;
grid-column: 2/4;
grid-row: 9/10;
}
.card{
	display: grid;
	grid-template-columns: 24px 128px 224px 24px;
	grid-template-rows: 272px 20px 24px 12px 60px 16px auto auto 20px 24px;
	position: relative;
	width: 400px;
	height: 576px;
	
}
.cards-block{
	display: grid;
	grid-template-columns: 400px 400px 400px;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	width: 85.555%;
	margin-left: 102px;
	margin-right: 106px;
	margin-top: 62px;
	margin-bottom: 62px;
}
.no-cards__image {
	display: flex;
	position: relative;
	margin: 0 auto;
	margin-top: 80px;
}
.no-cards__title {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	color: #1A1B22;
	width: 24.72%;
	margin: 0 auto;
	margin-top: 31.5px;
}
.no-cards__text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: #B6BCBF;
	width: 24.72%;
	margin: 0 auto;
	margin-top: 16px;
	margin-bottom: 80px;
}
.cards__no-cards{
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100%;
	margin:0;
	display: none;
}
.cards__found_title {
display: flex;
position: relative;
margin: 0 auto;
margin-top: 80px;
margin-left: 104px;
width: 49.44%;
font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 46px;
color: #1A1B22;
}

.cards__found_more {
	display: flex;
	position: relative;
	margin:0 auto;
	margin-top: 64px;
	margin-bottom: 80px;
	width: 20%;
	background: #FFFFFF;
	border-radius: 80px;
	justify-content: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #1A1B22;
	border: none;
}

.cards__found_more:hover {
	opacity: 0.9;
}
.cards__found {
display: flex;
position: relative;
flex-direction: column;

}
.cards{
	display: flex;
	position: relative;
	width: 100%;
	background:#F5F6F7;;
}
.login-form__title {
	margin-top: 34px;
	margin-left: 36px;
	margin-bottom: 0px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	color: #1A1B22;
}
.login-form__subtitle {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #2F71E5;
}
.login-form__text {
margin-top: 9px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #000000;
opacity: 0.2;
border:none;
}
.login-form__underline {
	margin: 0;
	margin-top: 10px;
	margin-bottom: 0px;
	width: 100%;
	height: 2px;
	background: #E6E8EB;
}
.login-form__header {
width: 74.58%;
display: flex;
position: relative;
flex-direction: column;
margin-top: 22px;
margin-left: 36px;
}
.button_name {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	
}
.button-active {
	background: #2F71E5;
	color: #FFFFFF;
}
.button-inactive {
background: #E6E8EB;
color: #B6BCBF;
}
.login-form__button {
	width: 358px;
	margin: 0 auto;
	margin-top: 24px;	
	border-radius: 100px;
	border:none;
	
}
.login-form__close {
	display: flex;
position: fixed;
left: 100%;
top: 0%;
transform: translate(0, -100%);
}
.login-form__signup {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #000000;
	margin: 0 auto;
	margin-top: 16px;
	margin-bottom: 28px;
}

	.form-error__margin-email{
	margin-left: 36px;
	margin-bottom: 0px;
	height: 14px;
}
.form-error__margin-register {
			display: hidden;
	margin: 0 auto;
	margin-top:17px;
	margin-bottom: 8px;
}
.form-error {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #FF0000;

}
.login-form {
display: flex;
position: fixed;
flex-direction: column;
width: 430px;

background: #FFFFFF;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
border-radius: 16px;
}
.inactive {
	display:none;
}
.content {
	display: flex;
	flex-direction: column;
	position: relative;
	
}
.footer__copyright {
	display: flex;
	position: relative;
	margin-left: 104px;
	margin-top: 33px;
	margin-bottom: 25px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #B6BCBF;
}
.footer-left-text {

margin-left: 320px;
width: 120px;

}
.footer-right-text {
	
	width: 200px;
}
.footer__text {
	display: flex;
	position: relative;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: #1A1B22;
	
	margin-top: 30px;
	margin-bottom: 28px;
}
.footer__social-left {
	display: flex;
	position: relative;
	width: 20.21px;
	height: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 385.89px;
}
.footer__social-right {
	display: flex;
	position: relative;
	width: 20px;
	height: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 27.89px;
}
.footer {
display: flex;
position: relative;
margin-top: 80px;
}
.page{display:flex;position:relative;width:1440px;flex-direction:column;margin:0 auto}@media (max-width:1440px){.page{display:flex;position:relative;width:1024px;flex-direction:column;margin:0 auto};}
