@import url('_image/authorization-name_image.css');
.header__authorization-name{
position: relative;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
margin: auto;

text-align: center;
}
.header__authorization-name:hover {
	cursor: url('../../../images/lapka.png'), pointer;
}
@media (max-width: 1440px) {
	.header__authorization-name{
		position: relative;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
margin: auto;
margin-left: 9px;
padding-right: 5px;
text-align: center;
}
.header__authorization-name:hover {
	cursor: url('../../../images/lapka.png'), pointer;
}
}

@media (max-width:768px) {
	.header__authorization-name{
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

   margin-right: 0px;
    text-align: center;
}
.header__authorization-name:hover {
	cursor: url('../../../images/lapka.png'), pointer;
}
}