@import url('__image/no-cards__image.css');
@import url('__title/no-cards__title.css');
@import url('__text/no-cards__text.css');
.cards__no-cards{
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100%;
	margin:0;
	
}