@import url('__title/login-form__title.css');
@import url('__header/login-form__header.css');
@import url('__button/login-form__button.css');
@import url('__close/login-form__close.css');
@import url('__signup/login-form__signup.css');
@import url('__signup/login-form__signup-enter.css');
@import url('__error/login-form__error.css');

@import url('link.css');
@import url('form-error.css');
.login-form {
display: flex;
position: fixed;
flex-direction: column;
width: 430px;

background: #FFFFFF;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
border-radius: 16px;
}