@import url('__title/header__title.css');
@import url('header__page.css');
@import url('header__non-authorization.css');
@import url('black-header.css');
@import url('border-grey.css');
@import url('border-white.css');
@import url('black-title.css');
@import url('black-page.css');
@import url('black-line.css');
@import url('header__authorization-name-block.css');
@import url('header__authorization-name.css');
@import url('__margin/header-page__margin.css');
@import url('__margin/header-page-main__margin.css');

@import url('__authorization/header__authorization.css');
.header {
	width:100%;
	display: flex;
	position: absolute;
	top: 0px;
	height: 80px;
	flex-direction: row;
	z-index: 1;
}.