@import url('__title/search__title.css');
@import url('__subtitle/search__subtitle.css');
@import url('__form/search__form.css');
@import url('__button/search__button.css');
@import url('__button/search__button-text.css');
.search {
	display: flex;
	width: 100%;
	height:576px;
	position: relative;
	flex-direction: column;
	background-image: url('../../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.png');
}