.card__key-text {
	margin: 0 auto;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;

}
@media (max-width: 1440px) {
	.card__key-text {
	margin-top: 16px;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 17px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;

}
}