@import url('left-key-block.css');
@import url('right-key-block.css');
@import url('middle-key-block.css');
@import url('card-block-image.css');
@import url('key-text-hidden.css');
.card__key-block {
	background: #FFFFFF;
	border-radius: 10px;
	
	color: #000000;
		margin-top: 24px;
		
		height: 40px;
		
	justify-content: center;
}

@media (max-width: 1440px) {
	.card__key-block {
	background: #FFFFFF;
	border-radius: 10px;
	
	color: #000000;
		margin-top: 8px;
		margin-right: 8px;
		height: 40px;
		
	justify-content: center;
}
}