@import url('footer-left-text.css');
@import url('footer-right-text.css');
.footer__text {
	display: flex;
	position: relative;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: #1A1B22;
	margin-top: 30px;
	margin-bottom: 28px;
}