@import url('_margin/non-authorization__margin.css');
.header__non-authorization {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	margin-right: 104px;
	
	color: white;
}

@media (max-width: 1440px) {
	.header__non-authorization{
			display: flex;
	flex-direction: row;
	margin: 0 auto;
	margin-right: 40px;
	
	color: white;
}
	}

	@media (max-width: 768px) {
		.header__non-authorization{
			display: none;
	position: fixed;


		color: white;
		
	flex-direction: column;
	width: 100%;
	margin:0 auto;
top:56px;
	margin-right: 40px;
	background:#1A1B22;;
	}
		}