.background-05{
	background-image: url('../../../../../images/desktop/image_05.png');
}

@media (max-width:1440px) {
	.background-05{
	background-image: url('../../../../../images/tablet/image_05.png');
}
}

@media (max-width:768px) {
	.background-05{
	background-image: url('../../../../../images/mobile/image_05.png');
}
}