.background-07{
	background-image: url('../../../../../images/desktop/image_07.png');
}

@media (max-width:1440px) {
	.background-07{
	background-image: url('../../../../../images/tablet/image_07.png');
}
}

@media (max-width:768px) {
	.background-07{
	background-image: url('../../../../../images/mobile/image_07.png');
}
}