@import url('_name/button_name.css');
@import url('button-active.css');
@import url('button-inactive.css');
.login-form__button {
	width: 358px;
	margin: 0 auto;
	margin-top: 24px;	
	border-radius: 100px;
	border:none;
	
}