.card-date {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	display: flex;
	align-items: center;
	color: #B6BCBF;
	margin: 0;
	grid-column: 2/3;
	grid-row: 3/4;
}