@import url('__top-block/card__top-block.css');
@import url('__bottom-block/card__bottom-block.css');
@import url('__key-text/card__key-text.css');
@import url('__key-block/card__key-block.css');
@import url('__date/card__date.css');
@import url('__title/card__title.css');
@import url('__text/card__text.css');
@import url('__source/card__source.css');
.card{
	display: grid;
	grid-template-columns: 24px 128px 224px 24px;
	grid-template-rows: 272px 20px 24px 12px auto 16px auto auto 20px 24px;
	position: relative;
	width: 400px;
		
}
@media (max-width: 1440px) {
	.card{
	display: grid;
	grid-template-columns: 6.66% 53.33% 26.66% 6.66%;
	grid-template-rows: 150px 16px 24px 12px 72px 10px 88px 12px 20px 16px;
	position: relative;
	width: 100%;
	height: 420px;
	
}
}

@media (max-width: 768px) {
	.card{
	display: grid;
	grid-template-columns: 5.55% 30.55% 44.44% 13.88% 5.55%;
	grid-template-rows: 150px 16px 24px 12px 72px 10px 88px 12px 20px 16px;
	position: relative;
	width: 100%;
	height: 420px;
	
}
}