.search__button {
	display: flex;
	position: absolute;
	right: 0px;
	background: #2F71E5;
	box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
	border-radius: 30px;
	width: 35.71%;
	height: 100%;
	  border: 0;
	  cursor: url('../../../../images/lapka.png'), pointer;
}
.search__button:hover {
	background: #347EFF;
}
.search__button:active {
	background: #2A65CC;;
}

@media (max-width: 768px) {
	.search__button {
		display: flex;
		position: relative;
		margin: 0 auto;
		margin-top: 32px;
	
		background: #2F71E5;
		box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
		border-radius: 30px;
		width: 100%;
		z-index: 0;
		  border: 0;
	}
	.search__button:hover {
		background: #347EFF;
	}
	.search__button:active {
		background: #2A65CC;;
	}
}