.header__authorization {
	display: flex;position: relative;
	margin:0 auto;
	margin-right: 104px;
}

@media (max-width: 1440px) {
	.header__authorization {
	display: flex;
	position: relative;
	margin:0 auto;
	margin-right: 40px;
}
}
@media (max-width: 768px) {
	.header__authorization {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100%;
	margin:0 auto;
	margin-right: 40px;
		background-color: #1A1B22;
}
}