@import url('__margin-email/form-error__margin-email.css');
@import url('__margin-register/form-error__margin-register.css');
	.form-error {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #FF0000;

}