@import url('__left-side/about-author__left-side.css');
@import url('__right-side/about-author__right-side.css');
.about-author {
display: flex;
position: relative;
width: 100%;
padding-top: 80px;
margin-bottom: 0px;
} 

@media (max-width: 1440px) {
	.about-author {
display: flex;
position: relative;
width: 100%;
padding-top: 61px;
margin-bottom: 0px;
} 
}

@media (max-width: 768px) {
	.about-author {
display: flex;
position: relative;
flex-direction: column;
width: 100%;
padding-top: 32px;
margin-bottom: 80px;
} 
}