@import url("__background/background-06.css");
@import url("__background/background-01.css");
@import url("__background/background-05.css");
@import url("__background/background-07.css");
@import url("__background/background-06.css");
@import url("__background/background-04.css");
@import url("__background/background-08.css");
.card__top-block {
	display: flex;position: relative;
	flex-direction:row-reverse;
	
	background-size: contain;
	grid-column: 1/5;
	grid-row:1/2;
	border-radius: 16px;
}