@import url('__page/header__page_underline.css');
@import url('__page/header__page_title.css');
@import url('grey-text.css');
.header__page {
	display: flex;
	flex-direction: column;
	position: relative;
	margin:0 auto;
	cursor: url('../../images/lapka.png'), pointer;
}