@import url('white-text.css');
@import url('__margin/non-authorization__margin.css');
.header__non-authorization {
	display: none;
	flex-direction: row;
	margin: 0 auto;
	margin-right: 104px;
	position: relative;
	color: white;
}

@media (max-width: 1440px) {
	.header__non-authorization{
			display: none;
	flex-direction: row;
	margin: 0 auto;
	margin-right: 40px;
	position: relative;
	color: white;
}
	}

	@media (max-width: 768px) {
		.header__non-authorization{
				display: none;

		color: white;
		position: relative;
	flex-direction: column;
	width: 100%;
	margin:0 auto;
	margin-right: 40px;
	background:#1A1B22;;
	}
		}